a.MuiMenuItem-root{
    font-size: 1em;

}
li.MuiMenuItem-root{
    font-size:  1em;
}
/* MEDIA QUERIES */

@media screen and (max-width:800px)
{
    a.MuiMenuItem-root{
        font-size: 2em;
    
    } 
}
