$thumbSize: 1em;

@keyframes slideDown {
  0% {
    transform: translateY(100%);
    //transform: translateX(-100%)
  }
  100% {
    transform: translateY(0);
    // transform: translateX(0);
  }
}
button.selected-button {
  background: green;
}
button.selected-button {
  background: green;
}
.wrapper-primary-dim {
  display: grid;
  max-width: 1600px;
  grid-auto-columns: minmax(80px, auto);
  grid-template-columns: repeat(4, 1fr);
  gap: 0.3em;
  font-size: 2em;

  button {
    width: 100%;
  }
  a.btn1 {
    font-size: 0.7em;
  }

  h1.sides {
    font-size: 1em;
  }
  .nextbtn {
    grid-column: 2/4;
    border: none;
  }
  form {
    display: grid;
    justify-content: center;
    text-align: center;
    grid-template-rows: repeat(3, 3fr);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 10px;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;

    a {
      button {
        margin-top: 5px;
      }
    }
  }
  form.dimension-form {
    border: 1px solid black;
  }
}

button {
  .dimbtn1 {
    font-size: 0.7em;
  }
}
form {
  padding-bottom: 1em;
  padding-top: 1em;
  .menu-active {
    position: absolute;
    top: 74em;
    padding-top: 0.5em;
    font-size: 0.2em;
    animation: 0.5s ease-out 0s 1 slideDown;
    button:hover {
      background-color: green;
    }
  }
}
@media screen and (max-width: 800px) {
  .dimbtn1 {
    font-size: 0.5em;
  }
  .wrapper-primary-dim {
    grid-template-columns: repeat(2, 1fr);
    font-size: 2em;
    padding: 0.5rem;
   
    

    .nextbtn {
      grid-column: 1/3;
      font-size: 0.8em;
      margin: 0px;
    }


  }
}
