.Header {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-content: space-between;
  margin-right: 1em;
  margin-left: 1em;
  margin-bottom: 1em;
  background-color: white;
  padding: 1em;
  gap: 20px;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

  .test {
    text-align: center;
    margin: auto;
  }
  p {
    font-size: 1em;
  }
  .CompanyName {
    padding-left: 2rem;
  }

  .QuarryName {
    padding-right: 2rem;
  }
  .timerbtn#start {
    background: green;
    border: solid;
    border-color: black;
  }
  .timerbtn#reset {
    background: #710c0c;
    border: solid;
    border-color: black;
  }
}



.popup {
  position: absolute;
  z-index: 100;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  display: grid;

  form {
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }

}

/*iPad Air 2 adjusted content*/
@media screen and (max-width: 700px) {
  .Header {
    width: 92%;
  .timerbtn#start {
    background: blue;
    border: solid;
    border-color: black;
  }
}
  }
 