* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: #c2c2c2;
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}
.fade-appear,
.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms linear 150ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 150ms linear;
}